@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<div>
    <partial name="PartialViews/DetailsDeleteEmployeeView"/>
    <div>
        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
        <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>
