
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="ml-auto">
        <div>
            Password Rest Link Has Been Send to your email. Please Check Your Inbox.
        </div>
        <div>
            <a href="https://mail.google.com/mail/u/0/?hl=ar#inbox">Your Inbox</a>
        </div>
    </div>
</div>

