@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="form">
    <div class="text-center mb-5"><h1>Forget Password PAGE</h1></div>
    <form asp-action="ForgetPassword">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <input type="email" asp-for="Email" placeholder="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary px-5 py-2">Reset My Password</button>
        <p class="message my-3"> <a asp-action="Login">Sign In!</a></p>
    </form>
</div>


